.inventory-card .card {
  min-height: 290px;
  border: 1px solid grey;
}

.inventory-card img {
  height: 150px;
}

.graph-panel div.card {
  margin-bottom: 10px;
}

@media (min-width: 549px) {
  .graph-panel {
    padding-bottom: 24px;
  }
}
