.login-container {
  height: calc(100vh - 127px);
  padding: 50px;
  background-color: #f5efef;
  background-image: url('../../assets/img/login-background.jpg');
  background-size: 1054px;
    background-repeat: no-repeat;
}

form {
  background-color: #fff;
  padding: 21px;
  border-radius: 10px;
  border: 1px solid #0000002e;
  box-shadow: 0px 0px 4px 0px;
}
