.login-container {
  height: calc(100vh - 127px);
  padding: 50px;
  background-image: url("../../assets/img/login/bg.png");
  background-repeat: repeat;
}

.login-container input {
  background-color: transparent;
  color: black;
  border-bottom: 1px solid darkslategrey;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

.login-container input:focus {
  background-color: transparent;
  color: black;
  border-bottom: 1px solid darkslategrey;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  box-shadow: none;
}

.login-user-input-wrapper img:first-of-type {
  margin-bottom: 30px;
}

.login-user-input-wrapper img:last-of-type {
  margin-top: 30px;
}

@media (min-width: 549px) {
  .login-user-input-wrapper {
    padding: 20px;
    max-width: 300px;
  }

  .login-user-input-wrapper img:first-of-type {
    margin-bottom: 10px;
  }

  .login-user-input-wrapper img:last-of-type {
    margin-top: 20px;
  }
}
